.navbar-top {
	background-color:rgba(165, 5, 33, 0.83);
	min-height: 80px;
	margin-bottom:0;
	border:none;
	.navbar-toggle {
		border: solid 1px #C71838;
		.icon-bar {
			background-color: #C71838;
		}
	}	


	.brand {
	    width: 260px;
	    height: 80px;
	    background: url(../images/logo.png) center no-repeat;
	    background-size: contain;
	}

	.navbar-right {
		.navbar-nav {
			li {
				a {
					color:#FFF;
					min-height: 80px;
    				line-height: 80px;
    				padding: 0 30px;
    				text-transform:uppercase;
					&:hover {
						color:#FFF;
						background-color:$button-red;
					}
				}
			}
		}
	}

	.goog-te-combo {
	 	border: solid 2px #FFF!important;
	    border-radius: 0 !important;
	    padding: 8px 7px !important;
	    margin-top: 19px !important;
	    background:transparent !important;
	    font-family: $font-family !important;
	    color: #FFF;
	}
	
}


.images-slider {
	.slides {
		li {
			width: 100%;
			min-height: 600px;			
		}
	}
}