.amount {
	text-transform: uppercase;
}

h2 {
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

a {
	&:hover {
		text-decoration:none;
	}
}

.bg-black {
	background-color:$bg-black;
}


span.badge {
    background-color: red;
    color: #FFF;
    border-radius: 3px;
    font-weight: normal;
    font-size: 10px;
}

span.badge.vacant_clean {
    background-color: #45920B;
    color:#FFF;
}



span.badge.vacant_dirty {
    background-color: #FF8100;
    color:#FFF;
}

span.badge.out_of_order {
    background-color: #FF0000;
    color:#FFF;
}
