.amount {
	text-transform: uppercase;
}

h2 {
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

a {
	&:hover {
		text-decoration:none;
	}
}

.bg-black {
	background-color:$bg-black;
}