// Glyphicons font path
$icon-font-path:        "../fonts/";

$font-family: 'Hind', 'Open Sans', sans-serif;
$font-monserat: Montserrat;
// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #333;
$button-blue: 			#344A71;
$button-red: 		#C71838;
$bg-red: 		#C71838;
$bg-gray: 		#f1f1f1;
$bg-dark-red: 	#6F061B;
$bg-black: #000;
$txt-red: 		#C71838;
$txt-green: 	#619C36;
$bg-transparent-red: rgba(199, 24, 56, 0.74);
$bg-transparent-black: rgba(0, 0, 0, 0.82);
$dark-transparent-black:#1F1E1E;
$yellow: #FFCB04;

