@media print{
	.col-lg-3 {
		width:300px;
		float:left;
	}
	.col-lg-9 {
		float:right;
		width:500px;
	}
}

@media screen and ( max-width: 1024px ) {
	.header_logo {
		position:inherit;
		.desktop-logo {
			display:none;
		}
	    .mobile-logo {
	      display:block;
	    }
	}
	
}

@media screen and (max-width: 768px) {
	

	.banner-info {
	    margin: 30% auto 0;
	}
	.success-booking-details .reservation-sidebar {
		border-right:none;
	}

}



@media screen and (max-width: 736px) {
	.reservation-billing-detail {
		margin-left:0;
		max-width:100%;
	}
}

@media screen and (max-width: 425px) {
	.online_reservation {
		position:inherit;
	}
	
	.images-slider .slider{
		display:none;
	}
}

@media screen and (max-width: 414px) {
	body {
		padding-top: 80px;
	}

	.header_logo {
		max-width:250px;
	}
	
	.header_top {

		& .header_left.pull-left span {
		    display: block;
		    line-height: 20px;
		}

		.header_left  {
			width: 70%;
		}

		.header_right {
		    width: 30%;

		    .social-media-icon li {
			    margin-right: 0;

			    &.ml-15 {
				    margin-left: 0;
				}
			}
		}
	}

	.header-sticky {
		top:0;
	}



	.title1, 
	.title {
		display:none;
	}

	.reservation_form {
		padding: 0;
    	float: none;
		ul {

			li {
				float:none;
			}
		}

		.bdr-btn {
			display:block;
			width:100%;
		}
	}
	.room-detail_tab .room-detail_tab-header {
		margin-right:0;
	}
	.ui-datepicker-multi-2 .ui-datepicker-group {
		width: 100%;
	}
}

@media screen and (max-width: 375px) {
	body {
	    padding-top: 81px;
	}
}

@media screen and (max-width: 320px) {
	body {
	    padding-top: 69px;
	}
	.header_logo {
		width:200px;
	}	
	.room-item {
		.bdr-btn {
			width:100%;
			display:block;
		}
	}

	.room_item-1 {
		.bdr-btn {
			display: block;
    		width: 100%;
		}
	}


}

@media screen and (max-width: 240px ) {
	.header_logo {
		width:150px;
	}


	.success-booking-details .reservation-sidebar {
		border-right: none;
	}
}