// Glyphicons font path
$icon-font-path:        "../fonts/";

$font-family: 'Hind', 'Open Sans', sans-serif;
$font-monserat: Montserrat;
// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #333;
$button-blue: 			#344A71;
$button-red: 		#C71838;
$bg-red: 		#C71838;
$bg-gray: 		#f1f1f1;
