.notices-box {
    text-align:center;
    color: #FFF;

  .updated {
      background-color: #06A706;
      padding: 5px 0;
  }

  .error {
      background-color: #B50324;
      padding: 5px 0;
  }
}


.header_top {
    .social-media-icon {
        margin-top: 3px;
        li {
          margin-right: 5px;
          i {
            width: 20px;
            height: 20px;
            padding: 6px 5px;
            font-size: 10px;
          }
        }
    }
  .header_left {
    span {
        font-size: 12px;
        color: #FFF;
        margin-right: 15px;
        line-height: 36px;
    }
  }
}

.header_bottom{
    min-height:35px;
}


.header_mobile, .header_mobile .header_menu {
    z-index: 999;
    background-color: #000;
}



.menu-bars {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    color: #fff;
    width: 50px;
    font-size: 28px;
    cursor: pointer;
    display: none;
    top: 0;
    right: 15px;
    bottom: 0;
    position: absolute;

  span {
    width: 25px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: block;

    &:before {
        bottom: -8px;
    }

    &:after {
        top: -8px;
    }
  }
}

.menu-bars span:after, .menu-bars span:before {
    content: '';
    width: 100%;
}




.menu-bars span, .menu-bars span:after, .menu-bars span:before {
    height: 2px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    background-color: #fff;
    position: absolute;
}


.attraction_sidebar .attraction_heading, .menu-bars {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}



.header_logo {
    float: left;
    line-height: 84px;
    max-width: 300px;
    position:absolute;
    .mobile-logo {
      display:none;
    }
}

.header-sticky {
  top:0;
  position: fixed;
  -webkit-backface-visibility: hidden;


  &.header_mobile {
      left: 0;
      right: 0;
      
      
    .container {
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .header_logo {
        display: inline-block;
        line-height: 1;
    }
    
    
    .header_menu {
        position: fixed;
        -webkit-overflow-scrolling: touch;
        top: 101px;
        bottom: 0;
        right: -270px;
        width: 270px;
        overflow-y: auto;
        -webkit-transition: right .5s cubic-bezier(0,.67,.35,.94);
        -moz-transition: right .5s cubic-bezier(0,.67,.35,.94);
        -ms-transition: right .5s cubic-bezier(0,.67,.35,.94);
        -o-transition: right .5s cubic-bezier(0,.67,.35,.94);
        
        
      &.active {
        right: 0;
      }
      
      ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        width: 100%;
        display:block;
        li {
          float:none;
          display:block;
          margin:0;
          padding:0;
          a {
            display: block;
            color: #fff;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
            line-height: 50px;
            border-bottom: solid 1px  #383736;
            position: relative;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
          }
          
          .sub-menu {
              background-color: rgba(52,74,113,.85);
              display: none;
              
              li {
                a {
                    padding-left: 35px;
                }
                
                &.current-menu-item {
                  & > a {
                    background-color: #fff;
                    color: #232323;
                  }
                }
              }
          }
        }
    }
    }
    
    
    .menu-bars {
        display: block;
        
        &.active {
          background-color: #fff;
      }
    }
  }
  .container {
    position: relative;
  }

  .header_menu {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 14px;

    .menu {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        float: left;
        position: relative;
        border-right:solid 1px #383736;
        padding:0;
        a {
          display: block;
          padding: 0 30px;
          line-height: 84px;
          color: #fff;
          font-weight: 500;
          text-transform: uppercase;
          font-size: 13.45px;
          -webkit-transition: all .2s ease;
          -moz-transition: all .2s ease;
          -ms-transition: all .2s ease;
          -o-transition: all .2s ease;

          &:hover {
            text-decoration:none;
            background-color:$dark-transparent-black;
          }
        }

        &.current-menu-item {
          a {
            color:$yellow;
          }
        }
      }
    }
  }
}

.header_content {
    border-top: solid 3px $yellow;
    background-color: $bg-black;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    text-align: right;
    font-size: 0;
    z-index: 999;
}


.images-slider {
  position:relative;
	.slides {
		li {
			width: 100%;
			min-height: 600px;		
      background-size:100% !important;	
		}
	}
}

