.main_bg {
	min-height:800px;
}
.online_reservation {

	.booking_room {
		h2 {
			font-size: 25px;
			margin: 0;
			font-weight: 400;
			position: relative;
			padding-left: 60px;
			line-height: 1;
			display: inline-block;
			color: $bg-black;
    		text-transform: uppercase;

			&:before {
			    content: '\f00c';
			    font: normal normal normal 14px/1 FontAwesome;
			    border: 3px solid #6D960C;
			    color: #6D960C;
			    font-size: 18px;
			    display: block;
			    width: 40px;
			    height: 40px;
			    text-align: center;
			    line-height: 34px;
			    font-family: FontAwesome;
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    left: 0;
			    margin: auto;
			    -webkit-border-radius: 100%;
			    -moz-border-radius: 100%;
			    border-radius: 100%;
			}
		}
	}
}
.section-featured-room {

    .room-featured_title {
	    font-weight: 700;
	    margin: 0;
	    font-size: 22px;
	    line-height: 1;
	    color: #232323;
	    margin-bottom: 25px;
	    text-transform:uppercase;
    }
	.room-item {
		margin-bottom:20px;
		.img {
			min-height: 185px;
    		background-size: cover !important;
    		img {
    			width:100%;
    		}
		}
		.text {
		    margin-top: 15px;
		    h2 {
		    	font-size:18px;
		    }
		    .price {
			    display: inline-block;
			    vertical-align: middle;
			    margin-bottom: 0;
			    font-size: 14px;

			    .amount {
			    	font-size: 20px;
    				font-weight: bold;
			    }
			}

			ul {
			    margin-top: 10px;
			    font-size: 14px;
			    margin-bottom: 0;
			    color: #333;
			    padding-left: 0;
			    list-style: none;

			    li {
				    padding: 4px 0;
				    font-weight: 500;

				    i {
					    font-size: 12px;
					    width: 25px;
					    display: inline-block;
					}
				}
			}

			&:after {
			    content: '';
			    clear: both;
			    display: block;
			}
		}
	}

}

.bdr-parallax {
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
}

.bdr-overlay {
    background-color: rgba(72,72,72,.3);
    z-index: 0;
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
}

.room-banner {
	padding: 30px 0;
	background-position: 50% 7px;
	position: relative;
	.sub-banner {
	    position: relative;

	    .text {

		    h2 {
			    margin-bottom: 0;
			    color: #fff;
			    font-size: 35.68px;
			    font-family: Montserrat;
			    text-transform: uppercase;
			}

			p {
			    margin-bottom: 0;
			    color: #fff;
			    font-size: 20px;
			}
		}
	}
}

.room_detail_gallery {
    max-height:450px;
}

.room-detail_book {
    background-color: #f1f1f1;
    .room-detail_total {
	    padding: 20px 30px;
	    text-align: center;


	    h6 {
		    color: #232323;
		    font-size: 12px;
		    font-weight: 700;
		    margin-top: 10px;
		}

		.price {
		    margin-bottom: 0;
		    margin-top: 10px;
		    color: #898989;
		    font-size: 18px;
		    line-height: 1;
		    font-family: Montserrat;
		}
	}

	.room-detail_form {
	    border-top: 1px solid #e4e4e4;
	    padding: 0 30px 33px;

	    label {
		    display: block;
		    clear: both;
		    font-size: 12px;
		    font-family: Montserrat;
		    font-weight: 700;
		    text-transform: uppercase;
		    margin-top: 25px;
		    margin-bottom: 10px;
		}

		.row {
			label {
				margin-top:0;
			}
		}

		.bdr-btn {
			display:block;
			width: 100%;
		}
	}
}

.room-detail_tab {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #e4e4e4;
    margin-bottom:100px;

    .room-detail_tab-header {
	    list-style: none;
	    padding-left: 0;
	    margin-bottom: 0;
	    margin-right: 70px;

	    li {
		    border-bottom: 2px solid #e4e4e4;
		    position: relative;
		    float:none;
		    a {
			    padding: 30px 0 10px;
			    color: #232323;
			    text-transform: uppercase;
			    position: relative;
			    font-family: Montserrat;
			    display: inline-block;
			    -webkit-transition: all .3s ease;
			    -moz-transition: all .3s ease;
			    -ms-transition: all .3s ease;
			    -o-transition: all .3s ease;
			    border:none;

				&.active, 
				&:hover,
				&:active {
				    color: $bg-red;
				    border:none;
				    background-color:transparent;
				}
			}

			&.active {
				a {
					color: $bg-red;
				    border:none;
				    background-color:transparent;
				}
			}


			
		}
	}

	.room-detail_tab-content {
	    padding-top: 20px;
	    position: relative;

	    .room-detail_amenities h6, .room-detail_overview h6 {
		    text-transform: uppercase;
		    color: #232323;
		    font-size: 14px;
		    margin-top: 25px;
		}
	}
}

.section-room {
    padding-top: 45px;
    padding-bottom: 100px;

    .room-wrap-1 {

	    .room_item-1 {
		    h2 {
			    text-transform: uppercase;
			    font-size: 26px;
			    font-weight: 700;
			    margin-top:20px;
			}

			.img {
			    margin-top: 15px;
			    img {
				    width: 100%;
				}
			}

			.desc {
			    color: #333;
			    font-weight: 500;
			    font-size: 14px;
			    margin-top: 15px;
			    p {
				    margin-bottom: 0;
				    font-weight: 500;
				    line-height: 1.5em;
				}

				ul {
				    font-size: 0;
				    padding-left: 0;
				    margin-bottom: 0;
				    margin-top: 15px;
				    list-style:none;

				    li {
					    position: relative;
					    padding-left: 25px;
					    font-size: 14px;
					    width: 50%;
					    display: inline-block;
					    vertical-align: top;
					    color: #232323;
					    margin: 3px 0;
					    font-weight: 500;

					    :before {
						    width: 5px;
						    height: 5px;
						    background-color: #333;
						    position: absolute;
						    top: 5px;
						    left: 0;
						    -webkit-border-radius: 100%;
						    -moz-border-radius: 100%;
						    border-radius: 100%;
						}
					}
				}
			}

			.bot {
			    border-top: 1px solid #e4e4e4;
			    border-bottom: 1px solid #e4e4e4;
			    overflow: hidden;
			    padding: 10px 0;
			    margin-top: 20px;

			    .price {
				    display: inline-block;
				    color: #898989;
				    font-size: 14px;
				    line-height: 1;

				    .amount {
					    color: #333;
					    font-weight: 700;
					    font-size: 20px;
					    margin-left: 5px;
					}
				}

				.bdr-btn {
				    float: right;
				}
			}
		}
	}
}


.reservation_step {
	ul {
	    list-style: none;
	    padding-left: 0;
	    margin-bottom: 0;
	    font-size: 0;
	    text-align: center;
	    border-bottom: 1px solid #e4e4e4;

	    li {
		    display: inline-block;
		    font-size: 15px;
		    position: relative;
		    margin: 0 20px;

		    &:before {
			    content: '';
			    left: 0;
			    right: 0;
			    bottom: -1px;
			    height: 2px;
			    position: absolute;
			    background-color: transparent;
			}

			&.active:before, 
			&:hover:before {
			    background-color: $bg-red;
			}

			a {
			    color: #333;
			    display: block;
			    padding: 15px 0;

			    span {
				    font-weight: 700;
				    font-size: 18px;
				    margin-right: 5px;
				}

				&:hover {
					text-decoration:none;
				}
			}
		}
	}
}


.reservation_content {
    padding-bottom: 20px;
    margin-top: 40px;
}

.reservation-billing-detail {
    margin-left: 80px;
    max-width: 570px;

    h4 {
	    color: #000;
	    margin-bottom: 0;
	    padding-bottom: 10px;
	    font-weight: 700;
	    font-size: 30px;
	}
    .reservation-login {
	    margin-bottom: 0;
	    color: #898989;
	    font-size: 14px;
	}

	label {
	    color: #232323;
	    font-size: 12px;
	    display: block;
	    margin-bottom: 10px;
	    font-family: Montserrat;
	    margin-top: 20px;
	    text-transform: uppercase;
	    sup {
		    color: red;
		    font-size: 12px;
		    top: -2px;
		}
	}

	.bootstrap-select.awe-select.btn-group {
	    width: 100%;
	}

	.bdr-btn-fill-black {
		margin-top: 20px;
	}

	.reservation-room-seleted_name {
		h2 {
			font-size:15px;
		}
	}
}

.reservation-success-message {
	background-color: #f1f1f1;
    text-align: center;
    padding: 30px;

    h4 {
	    font-weight: 700;
	    text-transform: uppercase;
	    margin: 0;
	    font-size: 20px;
	    color: #232323;
	}

	p {
	    color: #898989;
	    font-size: 15px;
	    margin-top: 20px;
	    margin-bottom: 0;
	}

	.bdr-btn{
    width: 150px;
	    color: #fff;
	    padding: 10px;
	    margin-top: 30px;
	}
}


.gallery-cat {
	ul {
    	margin-bottom: 0;
    	font-size: 0;

    	li {
		    font-size: 16px;

		    &.active a,
		    &:hover a{
	    	    background-color: $bg-red;
				color: #fff;
				text-decoration:none;
		    }


		    a {
			    color: #232323;
			    text-transform: uppercase;
			    font-weight: 500;
			    display: block;
			    padding: 7px 15px;
			    -webkit-transition: all .2s ease;
			    -moz-transition: all .2s ease;
			    -ms-transition: all .2s ease;
			    -o-transition: all .2s ease;
			}
		}
    }
}

.gallery-content {
    margin-top: 20px;

    .grid-item {
	  margin-bottom: 20px;
	}
}

.contact {
	.text {
		p {
    		margin-top: 10px;
    		color: #232323;
    		line-height: 1.428em;
    	}

    	ul {
		    list-style: none;
		    padding-left: 0;
		    margin-bottom: 0;
		    margin-top: 30px;
		    li {
			    padding: 7px 0;

			    .fa {
				    color: $txt-red;
				    font-size: 20px;
				    margin-right: 20px;
				    vertical-align: middle;
				}
			}
		}
   	}

   	.contact-form .form-control {
	    width: 100%;
	    margin-top: 20px;
	}

	.contact-form .bdr-btn {
	    margin-top: 20px;
	    width: 200px;
	    padding-top: 12px;
	    padding-bottom: 12px;
	    font-size: 15px;
	}
}


select.ui-datepicker-month,  
select.ui-datepicker-year {
    background-color: $dark-transparent-black;
    color: #FFF;
    border: solid 1px #FFF;
    height: 33px;
    display: inline-block;
}

#successBookingDetails {
	position:relative;
	.pull-right.print-booking {
	    position: absolute;
	    top: 10px;
	    right: 15px;
	}	
}

.success-booking-details {
    border: dashed 2px #AFADAD;
    padding: 20px;
    .reservation-sidebar {
	    border-right: dashed 1px #AFADAD;
		padding-right: 10px;
		.reservation-room-selected {
			background-color:transparent;
		}
		.reservation-room-seleted_total {
			label {
				color:#000;	
			}
		}
		.reservation-total {
			color:#000;
		}
    }

    .success-details {
    	ul {
    		li {
    			span {
    				text-transform: uppercase;
				    font-size: 12px;
				    width: 200px;
				    display: inline-block;
				    &:last-child {
				    	font-weight: bold;
				    }
    			}

    			h5 {
    				display:inline-block;
    				color: #C71838;
    			}
    		}
    	} 
    }
}

.calendar_status {
    margin-top: 30px;

    span {
    	color: #333;
	    font-size: 12px;
	    font-weight: 500;
	    padding: 0 10px;

	    &:before {
		    width: 20px;
		    height: 20px;
		    border: 1px solid #333;
		    display: inline-block;
		    vertical-align: middle;
		    content: '';
		    margin-right: 10px;
		}

		&.not-available {
			&:before {
			    background-color: #333;
			}
		}
    }
}

.room-detail_rates {
	table {
		width:100%;
		th {
		    color: #232323;
		    font-size: 14px;
		    background-color: #f1f1f1;
		    padding: 15px 20px;
		}

		td {
		    padding: 15px 20px;
		    font-size: 12px;
		    border-bottom: 1px solid #e4e4e4;
		    vertical-align: top;
		}
	}
}

#location-map {
	width:100%;
	min-height:800px;
}

.main-content {
    padding: 30px 0;
}